<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="utf-8">
  <title>Easy Accomod-Thuê nhà giá rẻ</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img\favicon-2.png' %}" rel="icon">
  <link href="{% static 'img\apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib\bootstrap\css\bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib\font-awesome\css\font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'css\notification.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css\style.css' %}" rel="stylesheet">

  <style>
    .notification::after {
      min-width: 15px;
      height: 15px;
      content: "{{ waitingCount }}";
      background-color: #ed657d;
      font-family: monospace;
      font-weight: bolt;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      position: absolute;
      top: 3px;
      right: 3px;
      transition: .3s;
      opacity: 0;
      transform: scale(.5);
      will-change: opacity, transform;
  }
  </style>

</head>

<body>

  <div class="click-closed"></div>
  <!--/ Form Search Star /-->
  <div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Tìm kiếm</h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
      <form class="form-a" action= '/search'>
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label for="Type">Từ khóa</label>
              <input type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword" name="Keyword">
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="Type">Loại phòng</label>
              <select class="form-control form-control-lg form-control-a" id="Type" name='roomType'>
                <option value="All">Tất cả các loại</option>
                <option value="Phòng trọ">Phòng trọ</option>
                <option value="Chung cư mini">Chung cư mini</option>
                <option value="Chung cư">Chung cư</option>
                <option value="Nhà nguyên căn">Nhà nguyên căn</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="city">Quận</label>
              <select class="form-control form-control-lg form-control-a" id="district" name='district'>
                <option value="All">Tất cả quận</option>
                <option value="Ba Đình">Ba Đình</option>
                <option value="YTây Hồ">Tây Hồ</option>
                <option value="Cầu Giấy">Cầu Giấy</option>
                <option value="Hoàn Kiếm">Hoàn Kiếm</option>
                <option value="Đống Đa">Đống Đa</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="bedrooms">Diện tích</label>
              <select class="form-control form-control-lg form-control-a" id="area" name="area">
                <option value="1000">Tùy ý</option>
                <option value="100"> < 100m<sup>2</sup></option>
                <option value="60"> < 60m<sup>2</sup></option>
                <option value="40"> < 40m<sup>2</sup></option>
                <option value="20"> < 20m<sup>2</sup></option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="garages">Phòng ngủ</label>
              <select class="form-control form-control-lg form-control-a" id="bedrooms" name="bedrooms">
                <option value="100">Tùy ý</option>
                <option value="5"> < 5</option>
                <option value="4"> < 4</option>
                <option value="3"> < 3</option>
                <option value="2"> < 2</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="bathrooms">Phòng tắm</label>
              <select class="form-control form-control-lg form-control-a" id="bathrooms" name="bathrooms">
                <option value="100">Tùy ý</option>
                <option value="3"> < 3</option>
                <option value="2"> < 2</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="bathrooms">Bếp</label>
              <select class="form-control form-control-lg form-control-a" id="kitchen" name="kitchens">
                <option value="100">Tùy ý</option>
                <option value="3"> < 3</option>
                <option value="2"> < 2</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-b">Tìm kiếm</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--/ Form Search End /-->

  <!--/ Nav Star /-->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="">Easy<span class="color-b">Accomod</span></a>
      <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Về chúng tôi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/roomList">Nhà cho thuê</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Yêu thích</a>
          </li>
          {% if user.is_superuser %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img src="{% static 'img\admin.png'%}" width="30" height="30">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/userConfirm">Duyệt tài khoản</a>
              <a class="dropdown-item" href="/logout">Đăng xuất</a>
            </div>
          </li>
          {% elif user.username %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img src="{% static 'img\user.png'%}" width="30" height="30">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/userProfile">Quản lý tài khoản</a>
              <a class="dropdown-item" href="/logout">Đăng xuất</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href = "/login">Đăng nhập</a>
          </li>
          {% endif %}
          {% if user.username == "admin" %}
            {% if waitingCount > 0 %}
            <li class="nav-item">
            <a class="nav-link" href="/userConfirm"><div id="notification" class="notification notify show-count"></div></a>
            </li>
            {% else %}
            <li class="nav-item">
            <a class="nav-link" href="/userConfirm"><div id="notification" class="notification"></div></a>
            </li>
            {% endif %}
          {% endif %}
      </ul>
      </div>
      <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Carousel Star /-->
  <div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img\slide-image-1.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Cho thuê nhà
                      <br> EasyAccomod</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Rẻ, </span> Đẹp
                      <br> Chất lượng cao</h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#room"><span class="price-a">Hãy đến với chúng tôi</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/slide-image-2.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Cho thuê nhà
                      <br> EasyAccomod</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Ân </span> cần
                      <br> Dịch vụ đảm bảo </h1>
                    <p class="intro-subtitle intro-price">
                      <a href=".#service"><span class="price-a">Hãy đến với chúng tôi</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'img/slide-image-3.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Cho thuê nhà
                      <br> EasyAccomod</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Nhân </span> viên
                      <br> Thân thiện, nhiệt tình</h1>
                    <p class="intro-subtitle intro-price">
                      <a href="#staff"><span class="price-a">Hãy đến với chúng tôi</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Carousel end /-->

  <!--/ Services Star /-->
  <section class="section-services section-t8" id="service">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Dịch vụ của chúng tôi</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-gamepad"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Tìm kiếm</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Hệ thống tìm kiếm nhanh, chính xác,
                đáp ứng đầy đủ yêu cầu của khách hàng
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-usd"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Cho thuê</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Cam kết cho thuê với giá hợp lý nhất,
                chủ thuê nhà thoải mái.Ở đâu rẻ, Chúng
                tôi rẻ hơn!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-home"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Bán</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Sở hữu nhiều căn nhà đẹp với mức giá
                ưu đãi. Công ty chúng tôi tự tin đáp ứng
                được yêu cầu của cả những khách hàng khó tính nhất
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Services End /-->

  <!--/ Property Star /-->
  <section class="section-property section-t8" id="room">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Phòng(Căn hộ) nổi bật</h2>
            </div>
            <div class="title-link">
              <a href="/roomList">Tất cả phòng
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="property-carousel" class="owl-carousel owl-theme">
        {% if bestRoom %}
          {% for room in bestRoom %}
          <div class="carousel-item-b">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="{{ room.image1.url }}" alt="" class="img-a img-fluid" >
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="property-single.html"> {{ room.roomAddress }}</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">Cho thuê | {{ room.price }} triệu /tháng </span>
                    </div>
                    <br>
                    <form action = '/roomDetails'>
                      <button style="border:1px solid transparent; background-color: transparent;">
                        <p class="link-a">Bấm để xem chi tiết ></p>
                      </button>
                      <input type="hidden" name="roomDetails" value="{{ room.id }}">
                    </form>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Diện tích</h4>
                        <span>{{ room.area }}m
                          <sup>2</sup>
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Phòng ngủ</h4>
                        <span>{{ room.bedroom }}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Nhà tắm</h4>
                        <span>{{ room.bathroom }}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Bếp</h4>
                        <span>{{ room.kitchen }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>  
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </section>
  <!--/ Property End /-->

  <!--/ Agents Star /-->
  <section class="section-agents section-t8" id="staff">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Nhân viên hàng đầu</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="{% static 'img\dotrungduc.jpg'%}" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a class="link-two">Đỗ Trung Đức</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Tốt bụng, ham học hỏi, đam mê gà chọi.
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> +54 356 945234</p>
                  <p>
                    <strong>Email: </strong> dotrungduc@gmail.com</p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="{% static 'img\nguyenquocdung.jpg'%}" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a class="link-two">Nguyễn Quốc
                      <br> Dũng</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Tốt bụng, kiên trì, hăng hái trong công việc. Thích tìm hiểu, khám phá những điều mới lạ
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> 0347088691</p>
                  <p>
                    <strong>Email: </strong> nguyenquocdung604@gmail.com</p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="{% static 'img\bach_trong_dao.jpg' %}" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a class="link-two">Bạch Trọng 
                      <br> Đạo</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Luôn điềm tĩnh, tự tin đối đầu với khó khăn
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> 0376542730</p>
                  <p>
                    <strong>Email: </strong> trongdao2000@gmail.com</p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Agents End /-->

  <!--/ footer Star /-->
  <section class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">EasyAccomod</h3>
            </div>
            <div class="w-body-a">
              <p class="w-text-a color-text-a">
                Công ty chúng tôi cung cấp dịch vụ cho thuê nhà
                căn hộ, phòng trọ với giá rẻ nhất và đảm bảo chất lượng
              </p>
            </div>
            <div class="w-footer-a">
              <ul class="list-unstyled">
                <li class="color-a">
                  <span class="color-text-a">Email .</span> EasyAccomod@gmail.com</li>
                <li class="color-a">
                  <span class="color-text-a">Điện thoại .</span> 0347088691 </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Công ty</h3>
            </div>
            <div class="w-body-a">
              <div class="w-body-a">
                <ul class="list-unstyled">
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="https://www.google.com/maps/place/144+Xu%C3%A2n+Th%E1%BB%A7y,+Mai+D%E1%BB%8Bch,+C%E1%BA%A7u+Gi%E1%BA%A5y,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam/@21.0368609,105.7801041,17z/data=!3m1!4b1!4m5!3m4!1s0x313454caaf9fa467:0x4cfd76cf514e1ce1!8m2!3d21.0368559!4d105.7822928?hl=vi-VN">Địa chỉ trên bản đồ</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Tính hợp pháp</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Nhân viên quản lý</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Chính sách bảo mật</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Hoạt động quốc tế</h3>
            </div>
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a >Viet Nam</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a>China</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a>Hong Kong</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a>Argentina</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a>Singapore</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a>Philippines</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="/">Trang chủ</a>
              </li>
              <li class="list-inline-item">
                <a href="/about">Về chúng tôi</a>
              </li>
              <li class="list-inline-item">
                <a href="/roomList">Nhà cho thuê</a>
              </li>
              <li class="list-inline-item">
                <a href="/userConfirm">Yêu thích</a>
              </li>
            </ul>
          </nav>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">EasyAccomod</span> All Rights Reserved.
            </p>
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
            -->
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/popper/popper.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/scrollreveal/scrollreveal.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
