<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="utf-8">
  <title>Easy Accomod-Thuê nhà giá rẻ</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <link rel="stylesheet" href="{% static 'css\userProfile.css'%}">

  <!-- Favicons -->
  <link href="{% static 'img\favicon-2.png' %}" rel="icon">
  <link href="{% static 'img\apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib\bootstrap\css\bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib\font-awesome\css\font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css\style.css' %}" rel="stylesheet">

</head>

<body>

<div class="content">
  <div class="profile-section">
    <div class="container">
      <img src="{% static 'img\profile.png' %}" class="profile-photo">
      <p class="profile-name">{{ user.name }} (Mã số: {{ user.user_id }}) </p> 
      <form action="/">
        <button class="button profile-follow">Về trang chủ</button>
      </form>
      &nbsp;
      <form action="/userProfile">
        <button class="button profile-follow">Thông tin tài khoản</button>
      </form>
      &nbsp;
      {% if user.user_type == "owner"%}
      <form action="/RoomPost">
        <button class="button profile-follow">Đăng bài mới</button>
      </form>
      &nbsp;
      <form action="/ownerRoomList">
        <button class="button profile-follow">Danh sách bài đã đăng</button>
        <input type="hidden" name="ownerId" value="{{ user.user_id }}">
      </form>
      &nbsp;
      {% endif %}
      <form action="/chat_list">
        <button class="button profile-follow">Tin nhắn</button>
        <input type="hidden" name="name" value="{{ user.name }}">
      </form>
    </div>
    &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
    <div></div> &nbsp;
  </div>
  
  <div class="detail-section">
  <!--/ Property Grid Star /-->
  <section class="property-grid grid">
    <div class="container">
      <div id="list_container" class="row">
        <div class="col-sm-12">
          <div class="grid-option">
            <form>
              <select id= "sort" class="custom-select">
                <option selected>All</option>
                <option value="high">Giá cao xuống thấp</option>
                <option  value="low">Giá thấp lên cao</option>
                <option value="big">Diện tích lớn đến bé</option>
                <option value="small">Diện tích bé đến lớn</option>
              </select>
            </form>
          </div>
        </div>
        {% if roomList %}
          {% for room in roomList %}
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img src="{{ room.image1.url }}" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="property-single.html"> {{ room.roomAddress }}</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">Cho thuê | <span class="price">{{ room.price }}</span> triệu /tháng </span>
                    </div>
                    <br>
                    <form action = '/roomDetails'>
                      <button style="border:1px solid transparent; background-color: transparent;">
                        <p class="link-a">Bấm để xem chi tiết ></p>
                      </button>
                      <input type="hidden" name="roomDetails" value="{{ room.id }}">
                      {% if user.username %}
                        <input type="hidden" name="user_id" value="{{ user.user_id }}">
                      {% endif %}
                    </form>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Diện tích</h4>
                        <span >
                          <span id= "area">{{ room.area }}</span>
                          m
                          <sup>2</sup>
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Phòng ngủ</h4>
                        <span>{{ room.bedroom }}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title"><i class="fa fa-eye card-info-title"></i></h4>                      
                        <span>{{ room.view }}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title"><i class="heart fa fa-heart card-info-title"></i></h4>                                             
                        <span>{{ room.favorite }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        {% endif %}
      </div>
  </section>
  <!--/ Property Grid End /-->
  </div>
</div>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/popper/popper.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/scrollreveal/scrollreveal.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

  <script src="{% static 'js/sort.js' %}"></script>

</body>
</html>
