<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="utf-8">
  <title>Easy Accomod-Thuê nhà giá rẻ</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Favicons -->
  <link href="{% static 'img\favicon-2.png' %}" rel="icon">
  <link href="{% static 'img\apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib\bootstrap\css\bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib\font-awesome\css\font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'css\notification.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css\style.css' %}" rel="stylesheet">

  <style>
    .checked {
        color: orange;   
    }
    .notification::after {
      min-width: 15px;
      height: 15px;
      content: "{{ waitingCount }}";
      background-color: #ed657d;
      font-family: monospace;
      font-weight: bolt;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      position: absolute;
      top: 3px;
      right: 3px;
      transition: .3s;
      opacity: 0;
      transform: scale(.5);
      will-change: opacity, transform;
  }
  </style>

</head>

<body>

  <div class="click-closed"></div>
  <!--/ Form Search Star /-->
  <div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Tìm kiếm</h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
      <form class="form-a" action= '/search'>
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label for="Type">Từ khóa</label>
              <input type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword" name="Keyword">
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="Type">Loại phòng</label>
              <select class="form-control form-control-lg form-control-a" id="Type" name='roomType'>
                <option value="All">Tất cả các loại</option>
                <option value="Phòng trọ">Phòng trọ</option>
                <option value="Chung cư mini">Chung cư mini</option>
                <option value="Chung cư">Chung cư</option>
                <option value="Nhà nguyên căn">Nhà nguyên căn</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="city">Quận</label>
              <select class="form-control form-control-lg form-control-a" id="district" name='district'>
                <option value="All">Tất cả quận</option>
                <option value="Ba Đình">Ba Đình</option>
                <option value="YTây Hồ">Tây Hồ</option>
                <option value="Cầu Giấy">Cầu Giấy</option>
                <option value="Hoàn Kiếm">Hoàn Kiếm</option>
                <option value="Đống Đa">Đống Đa</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="bedrooms">Diện tích</label>
              <select class="form-control form-control-lg form-control-a" id="area" name="area">
                <option value="1000">Tùy ý</option>
                <option value="100"> < 100m<sup>2</sup></option>
                <option value="60"> < 60m<sup>2</sup></option>
                <option value="40"> < 40m<sup>2</sup></option>
                <option value="20"> < 20m<sup>2</sup></option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="garages">Phòng ngủ</label>
              <select class="form-control form-control-lg form-control-a" id="bedrooms" name="bedrooms">
                <option value="100">Tùy ý</option>
                <option value="5"> < 5</option>
                <option value="4"> < 4</option>
                <option value="3"> < 3</option>
                <option value="2"> < 2</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="bathrooms">Phòng tắm</label>
              <select class="form-control form-control-lg form-control-a" id="bathrooms" name="bathrooms">
                <option value="100">Tùy ý</option>
                <option value="3"> < 3</option>
                <option value="2"> < 2</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="bathrooms">Bếp</label>
              <select class="form-control form-control-lg form-control-a" id="kitchen" name="kitchens">
                <option value="100">Tùy ý</option>
                <option value="3"> < 3</option>
                <option value="2"> < 2</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-b">Tìm kiếm</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--/ Form Search End /-->

  <!--/ Nav Star /-->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="/">Easy<span class="color-b">Accomod</span></a>
      <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Về chúng tôi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/roomList">Nhà cho thuê</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Pages
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="property-single.html">Property Single</a>
              <a class="dropdown-item" href="blog-single.html">Blog Single</a>
              <a class="dropdown-item" href="agents-grid.html">Agents Grid</a>
              <a class="dropdown-item" href="agent-single.html">Agent Single</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Yêu thích</a>
          </li>
          {% if user.is_superuser %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img src="{% static 'img\admin.png'%}" width="30" height="30">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/userConfirm">Duyệt tài khoản</a>
              <a class="dropdown-item" href="/logout">Đăng xuất</a>
            </div>
          </li>
          {% elif user.username %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <img src="{% static 'img\user.png'%}" width="30" height="30">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/userProfile">Quản lý tài khoản</a>
              <a class="dropdown-item" href="/logout">Đăng xuất</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href = "/login">Đăng nhập</a>
          </li>
          {% endif %}
          {% if user.username == "admin" %}
            {% if waitingCount > 0 %}
            <li class="nav-item">
            <a class="nav-link" href="/userConfirm"><div id="notification" class="notification notify show-count"></div></a>
            </li>
            {% else %}
            <li class="nav-item">
            <a class="nav-link" href="/userConfirm"><div id="notification" class="notification"></div></a>
            </li>
            {% endif %}
          {% endif %}
      </ul>
      </div>
      <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h3 class="title-single">{{ room.roomAddress }}</h3>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a>Trang chủ</a>
              </li>
              <li class="breadcrumb-item">
                <a>Danh sách phòng</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{ room.roomAddress }}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Property Single Star /-->
  <section class="property-single nav-arrow-b">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
            <div class="carousel-item-b">
              <img src="{{ room.image2.url}}" alt="" height="700" width="300">
            </div>
            <div class="carousel-item-b">
              <img src="{{ room.image1.url}}" alt="" height="700" width="300">
            </div>
            <div class="carousel-item-b">
              <img src="{{ room.image3.url}}" alt="" height="700" width="300">
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col-md-5 col-lg-4">
              <div class="property-price d-flex justify-content-center foo">
                <div class="card-header-c d-flex">
                  <div class="card-box-ico">
                    <span class="ion-money">triệu</span>
                  </div>
                  <div class="card-title-c align-self-center">
                    <h5 class="title-c">{{ room.price }}</h5>
                  </div>
                </div>
              </div>
              <div class="property-summary">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d section-t4">
                      <h3 class="title-d">Tổng quan</h3>
                    </div>
                  </div>
                </div>
                <div class="summary-list">
                  <ul class="list">
                    <li class="d-flex justify-content-between">
                      <strong>Chủ thuê:</strong>
                      <span>{{ owner.name }}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>ID phòng:</strong>
                      <span>{{ room.id }}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Loại phòng:</strong>
                      <span>{{ room.roomType}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Tình trạng:</strong>
                      <span>{{ room.status }}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Diện tích:</strong>
                      <span>{{ room.area }}m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Phòng ngủ:</strong>
                      <span>{{ room.bedroom}}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Phòng tắm:</strong>
                      <span>{{ room.bathroom }}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Bếp:</strong>
                      <span>{{ room.kitchen }}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Giá điện:</strong>
                      <span>{{ room.electricPrice }} đồng/số</span>
                    </li>
                    <li class="d-flex justify-content-between">
                      <strong>Giá nước:</strong>
                      <span>{{ room.waterPrice }} đồng/số</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-lg-7 section-md-t3">
              <div class="row">
                <div class="col-sm-12">
                  <div class="title-box-d">
                    <h3 class="title-d">Mô tả phòng(căn hộ):</h3>
                  </div>
                </div>
              </div>
              <div class="property-description">
                <p class="description color-text-a">
                  {{ room.roomDescription }}
                </p>
              </div>
              <div class="row section-t3">
                <div class="col-sm-12">
                  <div class="title-box-d">
                    <h3 class="title-d">Tiện nghi</h3>
                  </div>
                </div>
              </div>
              <div class="amenities-list color-text-a">
                <ul class="list-a no-margin">
                  <li>Mạng Wifi</li>
                  <li>Tủ lạnh</li>
                  <li>Có TV</li>
                  <li>Điều hòa</li>
                  <li>Ban công</li>
                  <li>Phòng mới</li>
                  <li>Khu dân trí cao</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 col-lg-4" >
              &nbsp;
              <h4 style="color: blue;">{{ numberOfComment }} bình luận </h4>
              {% for comment in comments %}
              <div style="border-style: ridge; height: 90px; width: 350px;">
                <span style="font-size: 18px; color: green;"> {{ comment.author }}...</span><span style="font-size: 12px; color: grey;"> {{ comment.date }}</span>
                <div>            
                </br>
                  {{ comment.body }}
                </div>
              </div>
              </br>
              {% endfor %}
            </div>
            <div class="col-md-3 col-lg-4">
              <br>
              <br>
              {% for rate in rates %}
                {% for i in rate.rating %}
                  <span style="font-size:40px;cursor:pointer;"  class="fa fa-star checked"></span>
                {% endfor %}
                <span style="font-size: 12px; color: grey;"> {{ rate.rater }}</span>
              </br>
              {% endfor %}
              <br>
              <span  onmouseover="starmark(this)" onclick="starmark(this)" id="1one" style="font-size:40px;cursor:pointer;"  class="fa fa-star checked"></span>
              <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one"  style="font-size:40px;cursor:pointer;" class="fa fa-star "></span>
              <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one"  style="font-size:40px;cursor:pointer;" class="fa fa-star "></span>
              <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one"  style="font-size:40px;cursor:pointer;" class="fa fa-star"></span>
              <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one"  style="font-size:40px;cursor:pointer;" class="fa fa-star"></span>
              <br/>
              <textarea  style="margin-top:5px;" class="form-control" rows="3" id="rater" placeholder="Người đánh giá" required></textarea>
              <button  onclick="result()" type="button" style="margin-top:10px;margin-left:5px;" class="btn btn-lg btn-success">Đánh giá</button>
            </div>
            <div class="col-md-3 col-lg-4">
              <div class="property-contact">
                  <input type="hidden" name="room" id="room" value="{{ room.id }}">
                  <div class="row">
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                        <input type="text" class="form-control form-control-lg form-control-a" id="inputName" name="author"
                          placeholder="Tên *" required>
                      </div>
                    </div>
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                        <textarea class="form-control" placeholder="Bình luận *" cols="45" id="inputContent" name="body"
                          rows="8" required></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <button onclick="comment()" type="button" class="btn btn-a">Nhận xét</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Property Single End /-->

  <!--/ footer Star /-->
  <section class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">EasyAccomod</h3>
            </div>
            <div class="w-body-a">
              <p class="w-text-a color-text-a">
                Công ty chúng tôi cung cấp dịch vụ cho thuê nhà
                căn hộ, phòng trọ với giá rẻ nhất và đảm bảo chất lượng
              </p>
            </div>
            <div class="w-footer-a">
              <ul class="list-unstyled">
                <li class="color-a">
                  <span class="color-text-a">Email .</span> EasyAccomod@gmail.com</li>
                <li class="color-a">
                  <span class="color-text-a">Điện thoại .</span> 0347088691 </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Công ty</h3>
            </div>
            <div class="w-body-a">
              <div class="w-body-a">
                <ul class="list-unstyled">
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="https://www.google.com/maps/place/144+Xu%C3%A2n+Th%E1%BB%A7y,+Mai+D%E1%BB%8Bch,+C%E1%BA%A7u+Gi%E1%BA%A5y,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam/@21.0368609,105.7801041,17z/data=!3m1!4b1!4m5!3m4!1s0x313454caaf9fa467:0x4cfd76cf514e1ce1!8m2!3d21.0368559!4d105.7822928?hl=vi-VN">Địa chỉ trên bản đồ</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Tính hợp pháp</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Nhân viên quản lý</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Chính sách bảo mật</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Hoạt động quốc tế</h3>
            </div>
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a >Viet Nam</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a>China</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a>Hong Kong</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a>Argentina</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a>Singapore</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a>Philippines</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="/">Trang chủ</a>
              </li>
              <li class="list-inline-item">
                <a href="/about">Về chúng tôi</a>
              </li>
              <li class="list-inline-item">
                <a href="/roomList">Nhà cho thuê</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Yêu thích</a>
              </li>
            </ul>
          </nav>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">EasyAccomod</span> All Rights Reserved.
            </p>
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
            -->
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/popper/popper.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/scrollreveal/scrollreveal.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>
  <script>
    var count;
    function starmark(item)
    {
        count=item.id[0];
        sessionStorage.starRating = count;
        var subid= item.id.substring(1);
        
        for(var i=0;i<5;i++)
        {
            if(i<count)
            {
                document.getElementById((i+1)+subid).style.color="orange";
            }
            else
            {
                document.getElementById((i+1)+subid).style.color="black";
            }
        }

    }

    function result()
    { 
        var room = document.getElementById('room');
        var room_id = room.value;
        var rater = document.getElementById("rater").value
        var token = '{{csrf_token}}';

        alert("Rating : "+count+"\nReview : "+ rater);
        $.ajax({
         headers: { "X-CSRFToken": token },
         url: '/update_rating/',
         data: {'rating': count, 'room_id' : room_id, 'rater' : rater},
         type: 'POST'
       }).done(function(response){
         console.log(response);
       });
    }

    function comment()
    {
        var room = document.getElementById('room');
        var room_id = room.value;
        var author = document.getElementById("inputName").value
        var body = document.getElementById('inputContent').value
        var token = '{{csrf_token}}';

        $.ajax({
         headers: { "X-CSRFToken": token },
         url: '/postComment/',
         data: {'body': body, 'room_id' : room_id, 'author' : author},
         type: 'POST'
       }).done(function(response){
         console.log(response);
       });
       alert("Bình luận thành công");
    }
  </script>

</body>
</html>
